//CUSTOM VARIABLES

//SPACING
$spacing--xs: .9375rem; //15px
$spacing--sm: 1.5625rem; //25px
$spacing--md: 1.875rem; //30px
$spacing--lg: 2.8125rem; //45px
$spacing--xl: 3.75rem; //60px
$spacing--xxl: 4.6875rem; //80px
$spacing--xxxl: 5.625rem; //90px

//FONT SIZES
$fontsize--xs: .875rem; //14px
$fontsize--sm: 1rem; //16px
$fontsize--md: 1.125rem; //18px
$fontsize--lg: 1.25rem; //20px
$fontsize--xl: 1.5rem; //24px
$fontsize--xxl: 2rem; //32px
$fontsize--xxxl: 2.5rem; //40px

//OTHER
$box-shadow-1: 0 3px 7px 1px rgba(0,0,0,0.15);
$box-shadow-1-hover: 0 4px 16px rgba(0,0,0,0.25);
$box-shadow-2: 2px 4px 16px rgba(get-color(secondary),.3);
$box-shadow-2-hover: 0px 4px 16px rgba(get-color(secondary),.1);
$border-radius: 5px;
$border-pill: 100px;
$line-height-md: 2rem; 
$line-height-sm: 1.875rem;
$container: 1440px;
$gradient-1: linear-gradient(43deg, #3C4755 0%, #2D3D51 100%);

//GLOBAL STYLES
.inner.expanded{
	height: 100%;
}//end .inner.expanded

.module:focus{
	outline: none;
}//end .module focus