$site-palette: (
  primary:    #002845,
  secondary:  #d18839,
  default:    #393939,
  inverse:    #FFFFFF,
  accent1:    #F7F7F7,
  accent2:    #002139,
  accent3:    #F2ECD7,
  accent4:    #E9F3F7,
);