//TYPOGRAPHY

body{
	color: get-color(default);
	line-height: 1.5rem;
}//end body

//HEADINGS

h1, h2, h3, h4, h5, h6{
	color: get-color(default);
}

h4{
	font-family: $body-font-family;
}

p{
	line-height: 1.5rem;
	color: get-color(default);
	font-size: 1rem;

	@include breakpoint (medium only) {
		font-size: 1rem;
	}//end medium only breakpoint

	@include breakpoint (small only){
		font-size: 1rem;
	}//end small only breakpoint
}//end p

