////Google font import
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

///Form text variables 
$form-text: #393939;
$form-font: 'Open Sans', sans-serif;

///Form color variables
$form-button-color: #0AB662;
$form-border-color: #CFCFCF;
$form-border-color-focus: get-color(primary);
$form-background-color: get-color(accent1);
$form-background-color-alt: $white;
$form-tooltip: #393939;
$input-placeholder-color: #8E8E8E;

///Form MISC variables
$form-logo: url("../img/skywood-logo-color.svg");
$form-border-radius: 3px;
$form-spacing: rem-calc(8px);//used form margin and padding throughout the file 
$form-shadow: 0px 2px 5px rgba(0,0,0,0.2);

//specific overrides from the settings file 
$tooltip-background-color: $white;
$tooltip-radius: $form-border-radius;
$has-tip-border-bottom: none;
$tooltip-color: $form-text;
$tooltip-padding: $form-spacing * 2; 

#vob-holder{
	background: $form-background-color;
	font-family: $form-font;
	font-weight: 400;
	color: $form-text;
	padding-top: $form-spacing * 4;
	
	h1, h2, h3, h4,h5 {
		font-family: $form-font;
		font-weight: 600;
		line-height: 1.2;
	}//end headings 
	
	h3 {
		font-size: rem-calc(24px);
		margin-bottom: $form-spacing;
	}//end h3 
	
	h5 {
		font-size: rem-calc(16px);
		margin: $form-spacing * 2 0; 
	}///end h5 
	
	label > h5 {margin: 8px 0;}///change margin for h5s inside label 
	
	input, textarea, select {
		border-color: $form-border-color;
		border-radius: $form-border-radius;
		&:focus {
			border-color: $form-border-color-focus;
		}//end focus 
	}//end input 
	
	[type='radio'] {margin-bottom: 0;}///removing margin on the bottom of the radiu buttons 
	
	.optional {
		color: #8E8E8E;
	}//end optional 
	
	.brand_block {
		background-image: $form-logo;
		display: block;
		position: relative;
		margin: 0 auto;
		height: 25px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left center;
		margin-left: 3rem;

		@include breakpoint(small only) {
			margin-left: $form-spacing * 2;
		}///end small device breakpoint 

		&.right {
			margin: 0 auto;
			background-position: center center;
			
			@include breakpoint (small only) {
				margin-top: $form-spacing * 2;
			}//end small only breakpoint
		}//end brand_block.right
	}///end brand block 

	.button {
		&--secure {
			background-image: url("../img/vob/lock.png");
			background-size: 20px;
			background-repeat: no-repeat;
			background-position: 15% center;
			margin: 0;
			padding: $spacing--xs $spacing--sm;
			padding-left: $form-spacing * 8 !important;
			background-color: get-color(secondary);
			border-radius: $border-pill;
			font-size: rem-calc(22px);
			font-weight: 700;
			box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.15);
			border: none;
				@include breakpoint(small only){
					margin-left: auto;
					margin-right: auto;
					display: block;
				}///end small device breakpoint 
		}//end secure 
	}//end button
	
	.inner {
		padding: $form-spacing * 4 $form-spacing * 6;
		max-width: 600px;
		margin: auto;
		position: relative;
			&.alt {
				background: $form-background-color-alt;
		}///end alt 
		
			@include breakpoint(small only){
				padding: $form-spacing * 4 $form-spacing * 2;
			}///end small device breakpoint 

			h5.clock-icon{
				position: relative;
				padding-left: 3rem;
				&:before{
					content:'';
					position: absolute;
					background-image: url("../img/icon/clock.svg");
					background-repeat: no-repeat;
					height: 32px;
					width: 32px;
					display: block;
					left: 0;
					top: -6px;
				}//end before
			}//end h5.clock-icon
	}//end inner
	
	.has-tip {
			border: none;
		}//end tool tip
	

	.form-tool-tip {
		margin: 0 $form-spacing;
		text-decoration: none;
	}//end form-tool-tip

#additional-fields {
		display: block;
	}////hidden conditional fields 

	.patient-reveal, .contact-reveal {
		display: none;
	}//

	form.left-align{
		@include inner;
		.inner{
			margin: 0 auto 0 0;
			max-width: none;
		}//end .inner
	}//end form.left-align

	.g-recaptcha {
		padding-bottom: $form-spacing * 4;
	}
}//end #vob holder 

.tooltip {
		box-shadow: $form-shadow;
		background: $white; 
		z-index: 999999;
	&::before {
		content: none !important;
	}//end before 
}///end tooltip