.module.callout{
	border: none;
	margin-bottom: 0;
	padding: 0;
	background: get-color(accent1);

	&.with-top{
		padding-top: $spacing--xl;
		
		@include breakpoint (medium only) {
			padding-top: $spacing--md;
		}//end medium only breakpoint

		@include breakpoint (small only) {
			padding-top: $spacing--sm;
		}//end small only breakpoint
	}//end with-top

	&.with-bottom{
		padding-bottom: $spacing--xl;

		@include breakpoint (medium only) {
			padding-bottom: $spacing--md;
		}//end medium only breakpoint

		@include breakpoint (small only) {
			padding-bottom: $spacing--sm;
		}//end small only breakpoint
	}//end with-bottom

	.inner{
		@include inner;
		max-width: rem-calc(1248px);

		.card-section{
			background-color: get-color(inverse);
			border-radius: $border-radius;
			box-shadow: $box-shadow-1;
			padding: $spacing--lg;

			@include breakpoint (medium only) {
				padding: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small only) {
				padding: $spacing--sm;
			}//end small only breakpoint
		}//end .card-section
	}//end .inner
}//end .module.callout