.module.contact{
	padding: $spacing--xl 0;
	background-color: rgba(get-color(primary),.5);
	position: relative;

	@include breakpoint (small only) {
		padding: $spacing--md 0;
	}//end small only breakpoint

	&:before{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: url("../img/backgrounds/CTA-Texture.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		z-index: -1;
	}//end before
	.inner{
		@include inner;
		@include innerpadding;
		max-width: 75rem;

		.grid-x{
			.cell{
				display: flex;
				align-items: center;

				@include breakpoint (small only) {
					.content-card{
						margin-bottom: $spacing--sm;
					}
				}//end small only breakpoint

				&:last-of-type{
					justify-content: flex-end;

					.button-card{
						.button{
							max-width: 366px;
						}//end .button
					}//end .button-card

					@include breakpoint (small only) {
						justify-content: center;

						.button-card{
							width: 100%;

							.button{
								max-width: none;
							}//end .button
						}//end .button-card
					}//end small only breakpoint
				}//end last-of-type

				h2{
					color: get-color(inverse);

					@include breakpoint (medium only) {
						font-size: 1.5rem;
					}//end medium only breakpoint
				}//end h2
			}//end .cell
		}//end .grid-x

	}//end .inner
}//end .module.contact