.module.duo--cta{
	padding: $spacing--xl 0;
	background-color: rgba(get-color(primary),.5);
	position: relative;

	&:before{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: url("../img/backgrounds/CTA-Texture.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		z-index: -1;
	}//end before
	.inner{
		@include inner;

		h2{
			text-align: center;
			color: get-color(inverse);
			line-height: 2rem;
			margin-bottom: $spacing--lg;
		}//end h2

		.button-group{
			justify-content: center;
			margin-bottom: 0;
		}
	}//end .inner
}//end .module.duo--cta