.module.duo{
	.inner{
		max-width: none;
		.grid-x{
			.cell{
				&.media-cell {
					position: relative;

					&.large-3 {
	 					.duo--media {
	 						background-position: center 20%;
	 					}//end .duo--card
	 				}//end &.large-9
				}//end media-cell
				
				&.content-cell{
					display: flex;
					align-items: center;
					&.medium-order-2{
						.duo--card{
							margin: 0 auto 0 0;
						}//end .duo--card
					}//end .medium-order-2

					&.large-9 {
	 					.duo--card {
	 						max-width: $container * .75;
	 					}//end .duo--card
	 				}//end &.large-9
				}//end .content-cell
				.duo--card{
					background-color: get-color(inverse);
					padding: $spacing--xl $spacing--md;
					max-width: $container/2;
					width: 100%;
					margin: 0 0 0 auto;

					@include breakpoint (xxlarge only) {
						padding: $spacing--xxl $spacing--xxxl;
					}//end xxlarge only breakpoint

					@include breakpoint (xlarge only) {
						padding: $spacing--xl;
					}//end xlarge only breakpoint

					@include breakpoint (small only) {
						padding: $spacing--md $spacing--sm; 
					}//end small only breakpoint

					h4{
						margin-bottom: $spacing--xs;
						line-height: 1;

						@include breakpoint (small only) {
							line-height: 1.5;
						}//end small only breakpoint
					}//end h4
					.divider{
						background-color: get-color(primary);
						display: block;
						margin-bottom: $spacing--md;
						width: 4rem;
						height: 4px;

						@include breakpoint (medium down) {
							margin-bottom: $spacing--xs;
						}//end medium down breakpoint
					}//end divider

					.accreditations{
						margin-bottom: $spacing--sm;
						img{
							max-height: 100px;

							&:first-of-type{
								margin-right: $spacing--sm;
							}//end first-of-type 
						}//end img
					}//end .accreditations

					& > :last-child{
						margin-bottom: 0;
					}//end last-child
				}//end .duo--card

				.duo--media{
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					height: 100%;

					@include breakpoint (small only) {
						min-height: 250px;
						position: relative;
					}//end small-only breakpoint

					//FAMILY PROGRAM IMAGE POSITION
					@at-root .module.duo.family-program .inner .grid-x .cell .duo--media{
						background-position: right center;

						@include breakpoint (large only) {
							background-position: 60% center;
						}//end large only breakpoint

						@include breakpoint (medium only) {
							background-position: 58% center;
						}//end medium only breakpoint

						@include breakpoint (small only) {
							background-position: right 60%;
						}//end small only breakpoint
					}//end .family-program

					.button{
						background-color: get-color(inverse);
						color: get-color(primary);
						padding: $spacing--xs $spacing--xl;
						box-shadow: $box-shadow-1;
						display: flex;
						align-items: center;
						justify-content: center;
						@include transition;

						&:before{
							content:'';
							background-image: url("../img/icon/play-video.svg");
							background-repeat: no-repeat;
							height:24px;
							width: 24px;
							display: inline-block;
							font-size: $fontsize--md;
							margin-right: $spacing--xs;
						}//end before

						&:hover{
							@include transition;
							transform: scale(1.05);
							box-shadow: $box-shadow-2;
						}//end hover
					}//end button

					&.overlay{
						padding: $spacing--lg;
						overflow: hidden;

						&:after{
							@include overlay;
							background-color: rgba(#000000, .7);
						}//end after

						.logo{
							z-index: 1;
							position: relative;
							width: 300px;
							height: 245px;
						}//end img
					}//end overlay
				}//end .duo--media
			}//end .cell
		}//end .grid-x
	}//end .inner

	&--billboard {
		background-image: linear-gradient(232deg, rgba(get-color(accent2),.7) 0%, rgba(get-color(primary),.7) 100%);
		margin-top: -80px;
		padding-top: 80px;

		@include breakpoint (small only) {
			margin-top: -96px;
			padding-top: 96px;
		}//end small only breakpoint
		.inner{
			& > .grid-x{
				& > .cell{
					padding: 0 !important;

					&.content-cell{
						position: relative;
						&:before{
							content: '';
							position: absolute;
							top: 0;
							bottom: 0;
							right: 0;
							left: 0;
							background: url("../img/backgrounds/banner-wood.jpg");
							background-size: cover;
							background-repeat: no-repeat;
							z-index: -1;
						}//end before
					}//end .content-cell
					.duo--card{
						max-width: $container/2;
						margin: 0 0 0 auto;
						padding: $spacing--md;
						padding-left: $spacing--lg;
						position: relative;
						background: none;

						@include breakpoint (xxlarge only) {
							padding: $spacing--xl;
							padding-left: $spacing--xxxl;	
						}//end xxlarge only breakpoint

						@include breakpoint (xlarge only) {
							padding-left: $spacing--xl;
						}//end xlarge only breakpoint

						@include breakpoint (small only) {
							padding: $spacing--sm;
						}//end small only breakpoint

						& > p{
							margin-bottom: $spacing--sm;

							@include breakpoint (medium only) {
								margin-bottom: $spacing--xs;
							}//end medium only breakpoint
						}//end p

						& > * {
							color: get-color(inverse);
						}//end *

						h1{
							font-size: 1.75rem;

							@include breakpoint (medium only) {
								font-size: 1.25rem;
							}//end medium only breakpoint

							&.insurance {
								max-width: 425px;

								@include breakpoint (medium only) {
									max-width: 350px;
								}//end medium only breakpoint
							}//end &.insurance
						}//end h1

						h3{
							font-size: 1.125rem;
							text-transform: uppercase;
						}//end h2

						.accred-logos{
							margin-bottom: $spacing--sm;
							.cell{
								width: auto;
								&:not(:last-of-type){
									padding-right: $spacing--md;

									@include breakpoint (small only) {
										padding-right: $spacing--xs;
									}//end small only breakpoint
								}//end :not(:last-of-type)
								img{
									max-height: 75px;
									width: auto;

									&.svg{
										width: 41px;
									}
								}//end img
							}//end .cell
						}//end .accred-logos
					}//end .duo-card

					.duo--media{
						border-radius: 0;
					}
				}//end .cell
			}// end .grid-x
		}//end .inner

		&.branding {
			.inner {
				& > .grid-x {
					& > .cell {
						.duo--card {
							h1 {
								font-size: 2.5rem;
							}//end h1

							h2 {
								font-size: 1.75rem;
								font-weight: $font-weight-regular;

								@include breakpoint (medium down) {
									font-size: 1.5rem;
								}//end medium down breakpoint
							}//end h2
						}//end .duo--card
					}//end & > .cell
				}//end & > .grid-x
			}//end .inner
		}//end &.branding
	}//end .billboard

	&.accent1{
		background-color: get-color(accent1);
	}//end .accent3

	&.with-bottom{
		padding-bottom: $spacing--lg;

		@include breakpoint (medium only) {
			padding-bottom: $spacing--md;
		}//end medium only breakpoint

		@include breakpoint (small only) {
			padding-bottom: $spacing--sm;
		}//end small only breakpoint
	}//end .with-bottom

	&--insurance {
		background-color: get-color(accent1);
		padding: $spacing--xl 0;

		@include breakpoint (medium only) {
			padding: $spacing--lg 0;
		}//end medium only breakpoint

		@include breakpoint (small only) {
			padding: $spacing--md 0;
		}//end small only breakpoint

		.inner{
			@include inner;
			.grid-x{
				.cell{
					.duo--card{
						box-shadow: none;
						padding: 0 $spacing--xxl 0 0;
						background: none;

						@include breakpoint (xlarge only) {
							padding: 0 $spacing--xl 0 0;
						}//end xlarge only breakpoint

						@include breakpoint (medium only) {
							padding: 0 $spacing--md 0 0;
						}//end medium only breakpoint

						@include breakpoint (small only) {
							padding: 0;
							margin-bottom: $spacing--sm;
						}//end small only breakpoint

						h4{
							text-transform: uppercase;
							margin-bottom: $spacing--md;
						}//end h4

						p:last-of-type{
							margin-bottom: $spacing--md;
						}//end p:last-of-type

						.button-group {
							flex-wrap: wrap;
							flex-direction: column;
							align-items: flex-start;

							.button {
								width: auto;
								&:first-of-type {
									margin: 0;
									margin-bottom: $spacing--sm;
								}//end &:first-of-type
							}//end .button
						}//end .button-group
					}//end .duo--card

					.duo--media{
						position: relative;
						display: flex;
						align-items: center;
						min-height: 340px;
						box-shadow: none;
						height: 100%;

						.grid-x {
							width: 100%;
							min-height: 340px;

							.cell{
								display: flex;
								justify-content: center;
								margin-bottom: $spacing--xs;
								padding: $spacing--xs;

								@include breakpoint (small only){
									padding: $spacing--xs;
								}//end small only breakpoint
								.insurance-logos{
									align-self: center;
									flex: 0 1 auto;
									max-width: 147px;

									@include breakpoint (small only) {
										max-width: 120px;
									}//end small only breakpoint
								}//end insurance logos
							}//end cell
						}//end .grid-x
					}//end .duo--media
				}//end .cell
			}//end .grid-x
		}//end .inner
	}//end .insurance

	&--video{
		background-color: get-color(primary);
		padding: $spacing--lg 0;

		@include breakpoint (small only) {
			padding: $spacing--md 0;
		}//end small only breakpoint
		.inner{
			@include inner;
			.grid-x{
				.cell{
					&.content-cell{
						padding-right: $spacing--md;

						@include breakpoint (xxlarge only) {
							padding-right: $spacing--xl;
						}//end xxlarge only breakpoint

						@include breakpoint (small only) {
							padding: 0;
						}//end small only breakpoint
					}//end .content--cell

					@include breakpoint (xlarge only) {
						&.media-cell{
							min-height: 300px;
						}//end .media-cell
					}//end xlarge only breakpoint

					@include breakpoint (large only) {
						&.media-cell{
							min-height: 300px;
						}//end .media-cell
					}//end large only breakpoint

					.duo--card{
						box-shadow: none;
						background: none;
						border-radius: 0;
						padding: $spacing--md 0;

						@include breakpoint (xxlarge only) {
							padding: $spacing--xl 0;
						}//end xxlarge only breakpoint

						@include breakpoint (small only) {
							padding: $spacing--md 0 0 0;
						}//end small only breakpoint

						& > * {
							color: get-color(inverse);
						}//end *
					}//end .duo--card

					.duo--media{
						box-shadow: none;
						border-radius: 0;

						.button{
							background: url("../img/icon/play-video.svg");
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							background-size: 60px 60px;
							background-repeat: no-repeat;
							background-position: center center;
							box-shadow: none;
							min-width: 0;
							max-width: none;
							padding: 0;
							margin-bottom: 0;

							&:before{
								display: none;
							}//end before

							&:hover{
								box-shadow: none;
							}
						}//end .button
					}//end .duo--media
				}//end .cell
			}//end .grid-x
		}//end .inner
	}//end &--video

	&--contained {
		.inner {
			@include inner;
			@include innerpadding ($p-small: 0 ,$p-medium: 0, $p-large: 0, $p-xlarge: 0 ,$p-xxlarge: 0);
		}//end .inner
	}//end &--contained

	&--inverse {
		background: get-color(primary);
		 & * {
		 	color: get-color(inverse);
		 }//end & *

		 .inner {
		 	.grid-x {
		 		.cell {
		 			.duo--card {
		 				background: none;

		 			}//end .duo--card
		 		}//end .cell
		 	}//end .grid-x
		 }//end .inner
	}//end &--inverse
}//end .module.duo