.module.faq {
	background: get-color(accent2);
	padding: $spacing--xl 0;

	@include breakpoint (small only) {
		padding: $spacing--sm 0;
	}//end small only breakpoint
	.inner {
		@include inner

		.faq-card {
			background-color: get-color(primary);
			padding: $spacing--lg;
			margin-bottom: $spacing--md;

			& > * {
				color: get-color(inverse);
			}//end & > *

			&:last-of-type {
				margin-bottom: 0;
			}//end &:last-of-type

			& > :last-child {
				margin-bottom: 0;
			}//end &:last-child

			@include breakpoint (small only) {
				padding: $spacing--sm;
			}//end small only breakpoint
		}//end .faq-card
	}//end .inner
}//end .module.faq