.footer{
	background-color: get-color(primary);
	padding: $spacing--lg 0;
	.inner{
		.accred-logos{
			max-width: 455px;
			margin: 0 auto $spacing--sm;
			.cell{
				display: flex;
				align-items: center;
				justify-content: center;

				@include breakpoint (small only) {
					&:not(:last-of-type){
						margin-bottom: $spacing--sm;
					}//end :not(:last-of-type)
				}//end small only breakpoint
				img{
					height: 85px;
					width: auto;

					&.svg{
						height: 85px;
						width: 103.75px;
					}
				}//end img
			}//end .cell
		}//end .accred-logos
		@include inner
		.privacy-policy{
			text-align: center;
			color: get-color(inverse);

			a{
				color: get-color(inverse);
				text-decoration: underline;
			}//end a
		}//end privacy policy
	}//end inner
}//end footer