.module.image-grid{
	background: get-color(primary);
	padding: $spacing--lg 0;

	@include breakpoint (medium only) {
		padding-bottom: $spacing--xs;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding: $spacing--md 0 $spacing--xs;
	}//end small only breakpoint

	.inner.expanded{
		@include inner;
		@include innerpadding ($p-small: $spacing--xs, $p-medium: $spacing--sm, $p-large: $spacing--lg - $spacing--xs, $p-xlarge: $spacing--xl - $spacing--xs, $p-xxlarge: $spacing--xxxl - $spacing--xs);

		p {
			color: get-color(inverse);
			text-align: center;
			max-width: 750px;
			margin: 0 auto $spacing--lg;

			@include breakpoint (medium only) {
				margin-bottom: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small only) {
				margin-bottom: $spacing--sm;
			}//end small only breakpoint
		}//end p

		.grid-x{
			.cell{
				padding: 0 $spacing--xs;

				@include breakpoint (medium only) {
					margin-bottom: $spacing--md;
				}//end medium only breakpoint

				@include breakpoint (small only) {
					margin-bottom: $spacing--xs;
					padding: 0 $spacing--xs/2;
				}//end small only breakpoint

				.treatment-box{
					display: flex;
					box-shadow: $box-shadow-1;
					overflow: hidden;
					text-align: center;
					height: 200px;
					background-size: cover;
					background-repeat: no-repeat;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					position: relative;
					padding: $spacing--xs;
					@include transition;

					&:before{
						content: '';
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						display: block;
						background-color: rgba(#000000,.60);
						@include transition;

					}//end before

					p{
						font-weight: $font-weight-semibold;
						font-size: 1.25rem;
						color: get-color(inverse);
						margin-bottom: 0;
						position: relative;
						line-height: 1.1;
						padding-bottom: $spacing--lg;
						text-transform: uppercase;
					}//end p

					span{
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						height: $spacing--lg;
						font-size: 1rem;
						line-height: 1;
						text-transform: uppercase;
						font-weight: $font-weight-semibold;
						color: get-color(default);
						background-color: get-color(inverse);
						display: flex;
						align-items: center;
						justify-content: center;
						@include transition;

						&:after{
							content: "+";
							font-size: 1rem;
							top: 0;
							bottom: 0;
							width: 16px;
							display: inline-block;
							margin-left: $spacing--xs/2;
							color: get-color(default);
							@include transition;
						}//end after
					}//end span

					&:hover{
						box-shadow: 0px 0px 30px rgba(get-color(primary),.7);
						@include transition;

						&:before{
							background-color: rgba(get-color(default),.30);
							@include transition;
						}//end before

						span{

						 	&:after{
						 		color: get-color(secondary);
						 		transform: rotate(360deg);
								transform-origin: 50% 50%;
								@include transition;
						 	}//end after
						 }//end span
					}//end hover
				}//end .treatment-box
			}//end .cell
		}//end .grid-x
	}//end .inner.expanded
}//end .module.deck.highlight--deck