.module.insurance-keywords {
	padding: $spacing--xl;

	@include breakpoint (medium only) {
		padding: $spacing--lg $spacing--xs;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding: $spacing--md 0;
	}//end small only breakpoint
	.inner {
		@include inner;
		max-width: 1200px;
		.insurance-keywords--card {
			.insurance-logos {
				margin-bottom: $spacing--sm;
			}//end .insurance-logos

			.expanded.button-group {
				margin-bottom: 0;
			}//end .expanded.button-group
		}//end .insurance-keywords--card
	}//end .inner
}//end .module.insurance-keywords