.module.location-map{
	background-size: cover;
	background-repeat: no-repeat;
	padding: $spacing--lg 0;


	@include breakpoint (large only) {
		padding: $spacing--lg 0;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding: $spacing--md 0;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding: $spacing--sm 0;
	}//end small only breakpoint
	.inner{
		@include inner;
		max-width: rem-calc(1355px);

		.grid-x{
			overflow: hidden;
			box-shadow: $box-shadow-1;
			background-color: rgba(get-color(accent1), .9);
			.cell{
				position: relative;

				@include breakpoint (small only) {
					position: static;
				}//end small only breakpoint
				.map-card{
					display: flex;
					justify-content: center;
					flex-direction: column;
					height: 100%;
					padding: $spacing--lg $spacing--md;

					@include breakpoint (medium only) {
						padding: $spacing--md;
					}//end medium only breakpoint

					@include breakpoint (small only) {
						padding: $spacing--sm;
					}//end small only breakpoint

					& > *{
						color: get-color(default);
					}//end *
					h2{
						margin-bottom: $spacing--xs;
						line-height: 1;
					}//end h2
					h4{
						font-weight: $font-weight-semibold;
						margin-bottom: 0;
						line-height: 2rem;
					}//end h4

					.button{
						align-self: flex-start;

						@include breakpoint (small only) {
							align-self: stretch;
						}//end small only breakpoint
					}//end .button

					.divider{
						background-color: get-color(primary);
					}//end .divider

					p{
						margin-bottom: $spacing--xs;
					}//end p

					& > :last-child{
						margin-bottom: 0;
					}//end :last-child

					.map-address{
						p{
							font-weight: $font-weight-semibold;
						}//end p
					}//end .map-address

				}//end .map-card

				.map-container{
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;

					@include breakpoint (medium only) {
						position: static;
					}//end small only breakpoint

					@include breakpoint (small only) {
						position: static;
					}//end small only breakpoint
					
					.map{
						min-height: 300px;
						height: 100%;
						
						&--info{
							h3{
								font-size: 1.25rem;
							}//end h3

							p{
								font-size: 1rem;
								line-height: 1.5rem;
							}//end p
						}//end --info
					}//end .map
				}//end .map-container
			}//end .cell
		}//end .grid-x
	}//end inner
}//end .module.location-map