#nav{
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	z-index: 99999;
	background: get-color(primary);

	#mobilephone{
		.cell{
			color: get-color(inverse);
			text-align: center;
			font-family: $body-font-family;
			font-size: 1rem;
			font-weight: $font-weight-bold;
			text-transform: uppercase;
			padding: $spacing--xs/2 0;
			flex: 1 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;

			&.mobilephone__chat{
				background: get-color(inverse);
				color: get-color(primary);
				display: none;

				&:before{
					content: '';
					background-image: url("../img/icon/chat-color.svg");
					background-repeat: no-repeat;
					height: 18px;
					width: 20px;
					display: inline-block;
					margin-right: $spacing--xs;
				}//end before

				&.active{
					display: flex;
				}//end .active
			}//end .mobilephone__chat
			&.mobilephone__call{
				background: get-color(secondary);

				&:before{
					content:'';
					background-image: url("../img/icon/phone-white.svg");
					background-repeat: no-repeat;
					height: 20px;
					width: 20px;
					display: inline-block;
					margin-right: $spacing--xs;
				}//end before
			}//end .mobilephone__chat
		}//end .cell
	}//end #mobilephone
	.title-bar{
		position: relative;
		padding: 0;
		background-color: get-color(primary);
		box-shadow: $box-shadow-1;

		&-left{
			padding: $spacing--xs;
			max-width: 175px;
			// flex: 1 0 auto;
			.site-logo{
				max-width: 175px;
			}//end .site-logo
		}//end &-left

		&-right{
			padding: $spacing--xs/2 $spacing--xs;
			// flex: 2 1 auto;
			.hamburger{
				padding: 0;

				.hamburger-box{
					width: 35px;

					.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after{
						width: 100%;
						height: 3px;
						border-radius: 0;
					}
				}//end .hamburger-box

				&:focus{
					outline: none;
				}//end focus

				&:hover{
					opacity: 1;
				}//end hover
				.hamburger-label{
					color: get-color(inverse);
					font-family: $body-font-family;
					font-size: 12px;
					font-weight: $font-weight-semibold;
					line-height: 1;
					display: block;
				}//end .hamburger-label

				&-inner{
					background: get-color(inverse);
					&:after, &:before{
						background: get-color(inverse);
					}//end before and after
				}//end hamburger-inner
			}//.end hamburger

			.carf-logo{
				width:75px;
				margin: 0 0 0 auto;
			}//end .carf-logo
		}//end &-right
	}//end .title-bar

	#mobile-menu{
		background-color: get-color(primary);
		box-shadow: $box-shadow-1;
		padding: $spacing--xs;
		.main-menu{
			margin: 0;
			list-style: none;
			display: flex;
			justify-content: center;
			flex-direction: column;
			text-align: center;
			font-family: $body-font-family;
			font-weight: $font-weight-semibold;
			font-size: 1.125rem;


			.menu-text{
				&:not(:last-child){
					margin-bottom: $spacing--xs;
				}//end not last child
				
				a{
					color: get-color(inverse);
				}//end a
			}//end .menu-text
		}//end .main-menu
	}//end #mobile-menu
	.top-bar{
		background: none;
		padding: 0;
		box-shadow: $box-shadow-1;
		overflow: hidden;
		height: 90px;
		@include transition;

		.inner{
			display: flex;
			align-items: center;
			margin: 0 auto;
			position: relative;
			width: 100%;
			height: 100%;
			padding: 0;

			.top-bar-left{
				max-width: 300px;
				margin: 0;
				flex: 0 0 100%;
				height: 100%;
				padding: $spacing--xs 0;
				padding-left: $spacing--md;

				@include breakpoint (large only) {
					max-width: 250px;
				}//end large only breakpoint

				@include breakpoint (medium only) {
					max-width: 175px;
				}//end medium only breakpoint

				a{
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 100%;
					@include transition;

					img{
						max-width: 300px;
						max-height: 75px;

						@include breakpoint (medium only) {
							width: 100%;
						}//end medium only breakpoint
					}//end img
				}//end a
			}// end .top-bar-left

			.top-bar-right{
				display: flex;
				height: 100%;
				align-self: center;
				align-items: center;
				justify-content: flex-end;
				padding-right: $spacing--md;
				flex: 1 1 auto;
				margin: 0;

				@include breakpoint (large only) {
					padding-right: $spacing--sm;
				}//end large only breakpoint

				@include breakpoint (medium only) {
					padding-right: $spacing--xs;
				}//end medium only breakpoint

				.dropdown.menu{
					flex: 0 0 auto;
					font-family: $body-font-family;
					font-size: 1.125rem;
					color: get-color(inverse);
					background: transparent;
					padding-right: $spacing--lg;

					@include breakpoint (medium only){
						padding-right: $spacing--xs;
						font-size: 1rem;
					}//end medium only breakpoint
					li{
						padding: 0;
						font-weight: $font-weight-regular;
						@include transition;

						a{
							color: get-color(inverse);
							padding: $spacing--xs;
							position: relative;
							@include transition;

							@include breakpoint (medium only) {
								padding: $spacing--xs .7rem;
							}//end medium only breakpoint
						}//end a

						&:hover{
							a{
								background-color: rgba(get-color(inverse),.1);
								@include transition;
							}//end a
						}//end hover
					}//end li

				}//end .dropdown menu
				#callinfo{
					flex: 0 0 auto;
					font-family: $body-font-family;
					font-size: 1.5rem;
					line-height: 1;
					font-weight: $font-weight-semibold;
					color: get-color(inverse);
					margin: 0;

					&:before{
						content: '';
						display: inline-block;
						height: 15px;
						width: 15px;
						margin-right: .5rem;
						background-image: url("../img/icon/phone-white.svg");
						background-size: contain;
						background-repeat: none;
					}
				}//end .callinfo

				.button.primary.vob {
					border: none;
					margin-bottom: 0;
					margin-right: $spacing--xs;

					&:hover {
						background-color: darken(get-color(primary),5%);
					}//end &:hover
				}//end .button.primary.vob
			}// end .top-bar-right
	}//end inner
	}//end .top-bar
}//end #nav