.page-title{
	padding: $spacing--xl 0;
	background-color: rgba(get-color(primary),.5);
	position: relative;

	@include breakpoint (medium only) {
		padding: $spacing--lg 0;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding: $spacing--md 0;
	}//end small only breakpoint

	&:before{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: url("../img/backgrounds/CTA-Texture.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		z-index: -1;
	}//end before
	.inner{
		@include inner;

		h1{
			text-align: center;
			color: get-color(inverse);
			font-size: 2rem;
		}//end h1
	}//end .inner
}//end page-title