.module.spotlight {
	background: get-color(accent2);
	padding: $spacing--xl 0;

	@include breakpoint (medium only) {
		padding: $spacing--lg 0;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding: $spacing--md 0;
	}//end small only breakpoint

	.inner {
		@include inner;

		.spotlight--card {
			background-color: get-color(primary);
			padding: $spacing--lg;
			max-width: rem-calc(900px);
			margin: 0 auto;

			@include breakpoint (medium only) {
				padding: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small only) {
				padding: $spacing--sm;
			}//end small only breakpoint

			& > * {
				color: get-color(inverse);
			}//end & > *

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child
		}//end .spotlight--card
	}//end .inner

	&--background {
		background-repeat: no-repeat;
		background-size: cover;

		.inner {
			.spotlight--card {
				background-color: rgba(get-color(accent1), .9);

				& > * {
					color: get-color(default);
					text-align: center;

					@include breakpoint (small only) {
						text-align: left;
					}//end small only breakpoint
				}//end & > *
			}//end .spotlight--card
		}//end .inner
	}//end &--background
}//end .module.spotlight