.module.staff{
	padding: $spacing--lg 0;
	background-color: get-color(primary);

	@include breakpoint (small only) {
		padding: $spacing--md 0;
	}//end small only breakpoint

	.inner{
		@include inner;

		h2{
			text-align: center;
			margin-bottom: $spacing--lg;
			color: get-color(inverse);
		}//end h2

		& > .grid-x{
			margin-bottom: $spacing--md;

			&:nth-of-type(even){
				.staff--content{
					order: 1;
					padding-right: $spacing--md;
					padding-left: 0;

					@include breakpoint (small only) {
						order: 2;
						padding: 0;
					}//end small only breakpoint
				}//end .staff--content
				.staff--media{
					order: 2;

					@include breakpoint (small only) {
						order: 1;
					}//end small only breakpoint
				}//end .staff--media
			}//end nth-of-type(odd)

			&:last-of-type{
				margin-bottom: 0;
			}//end last-of-type

			.staff--content{
				align-self: center;
				padding-left: $spacing--md;
				padding-right: 0;

				@include breakpoint (small only) {
					padding: 0;
				}//end small only breakpoint

				.staff-card{
					background-color: get-color(accent1);
					box-shadow: $box-shadow-1;
					padding: $spacing--lg $spacing--md;

					@include breakpoint (xxlarge only) {
						padding: $spacing--xxl $spacing--lg;
					}//end xxlarge only breakpoint

					@include breakpoint (xlarge only) {
						padding: $spacing--xl $spacing--md;
					}//end xlarge only breakpoint

					@include breakpoint (small only) {
						padding: $spacing--md $spacing--sm;
					}//end small only breakpoint

					h3{
						font-size: 1.25rem;
						text-transform: uppercase;
						margin-bottom: .5rem;
						line-height: 1;

						@include breakpoint (xxlarge only) {
							font-size: 1.5rem;
							margin-bottom: 1rem;
						}//end xxlarge only breakpoint
					}//end h3

					h4{
						font-size: 1.125rem;
						line-height: 1;
						font-weight: $font-weight-regular;
					}//end h4

					& > :last-child{
						margin-bottom: 0;
					}//end last-child
				}//end .staff-card
			}//end .staff-info

			.staff--media{
				position: relative;
				@include breakpoint (small only) {
					min-height: 300px;
					margin-bottom: $spacing--sm;
				}//end small only breakpoint
				.staff-photo{
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					box-shadow: $box-shadow-1;
				}//end .staff-photo
			}//end .staff--media
		}//end .grid-x

				
	}//end .inner
}//end .module.staff