.button{
	font-family: $body-font-family;
	font-weight: $font-weight-semibold;
	padding: $spacing--xs $spacing--sm;
	font-size: 1.5rem;
	display: block;
	overflow: hidden;
	position: relative;
	box-shadow: $box-shadow-1;
	max-width: 260px;

	@include breakpoint (medium down) {
		max-width: none;
		font-size: 1.25rem;
	}//end medium down breakpoint

	@media screen and (min-width: 300px) and (max-width: 350px){
		font-size: 1rem;
		padding: $spacing--xs;
	}

	&.primary{
		background: get-color(secondary);
		color: get-color(inverse);
		@include transition;

		&:hover, &:focus{
			background-color: darken(get-color(secondary),3%);
			box-shadow: $box-shadow-1-hover;
			color: get-color(inverse);
			@include transition;
		}//end hover

		&.phone{
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 0 0 auto;

			&:before{
				content:'';
				background-image: url("../img/icon/phone-white.svg");
				background-size: contain;
				background-repeat: no-repeat;
				height:15px;
				width: 15px;
				display: inline-block;
				margin-right: $spacing--xs/2;
			}//end before
		}

		&.vob{
			display: flex;
			background: none;
			align-items: center;
			justify-content: center;
			color: get-color(primary);
			border: 2px solid get-color(primary);
			box-shadow: none;

			&.inverse{
				border: 2px solid get-color(inverse);
				color: get-color(inverse);

				&:before{
					background-image: url("../img/icon/contact-inverse.svg");
				}//end before
			}//end .inverse
			
			&:before{
				content:'';
				background-image: url("../img/icon/contact.svg");
				background-size: contain;
				background-repeat: no-repeat;
				height:20px;
				width: 20px;
				display: inline-block;
				margin-right: $spacing--xs;
			}//end before
			

			&:hover{
				box-shadow: 0px 4px 16px rgba(get-color(primary),.25);
				@include transition;
			}//end hover
		}//end vob

		.chat-is-offline{
			display: none;
		}

		&.offline{
			.chat-is-online{
				display: none;
			}//end .chat-is-online

			.chat-is-offline{
				display: block;
			}//end .chat-is-offline
		}//end offline
	}//end primary
}// end .button

.button-group.expanded{
	align-self: center;

	@include breakpoint (small only){
		flex-direction: column;
		width: 100%;
	}//end small only breakpoint
	.button{
		flex: 0 0 auto;
		font-size: 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: none;

		@include breakpoint (medium only) {
			font-size: 1.25rem;
			width: 318px;
		}//end medium only breakpoint

		@include breakpoint (small only) {
			font-size: 1.25rem;
			width: 100%;
		}//end small only breakpoint

		@media screen and (min-width: 300px) and (max-width: 350px){
			font-size: 1rem;
			padding: $spacing--xs;
		}

		&.chat{
			display: none;

			&.active{
				display: flex;
			}//end .active
		}//end .chat

		@include breakpoint (small only){
			width: 100%;
		}//end small only breakpoint

		&:first-of-type{
			margin-right: $spacing--xs;

			@include breakpoint (small only){
				margin-right: 0;
				margin-bottom: $spacing--xs;
			}//end small only breakpoint
		}//end first of type
	}//end .button
}//end .button-group

.button-cta{
	display: flex;
	align-items: center;

	@include breakpoint (medium down) {
		flex-direction: column;
	}//end medium down breakpoint

	.button{
		margin-bottom: 0;
		flex: 0 0 auto;

		@include breakpoint (large only) {
			padding: 1rem 1.25rem;
		}//end large only breakpoint

		@include breakpoint (medium down) {
			flex: 1 1 auto;
			align-self: stretch;
		}//end medium down breakpoint
	}//end .button
	
	p{
		margin-left: $spacing--xs;
		padding-left: $spacing--xs;
		border-left: 1px solid rgba(get-color(default),.5);
		font-size: 1rem;
		font-weight: $font-weight-bold;
		line-height: 1.25rem;
		margin-bottom: 0;

		@include breakpoint (medium down) {
			padding: $spacing--xs 0 0 0;
			margin: $spacing--xs 0 0 0;
			border-left: 0;
			border-top: 1px solid rgba(get-color(default),.5);
			text-align: center;
			font-size: 1.25rem;
			line-height: 1.5rem;
			align-self: stretch;
		}//end medium down breakpoint

	}//end p
}//end .button-cta

.inner{
	margin: 0 auto;
	max-width: $container;
}//end inner

.divider{
	background-color: get-color(primary);
	display: block;
	margin-bottom: $spacing--sm;
	width: 4rem;
	height: 4px;

	@include breakpoint (small only) {
		margin-bottom: $spacing--xs;
	}//end small only breakpoint
}//end divider

.module.first-module{
	margin-top: -5rem;
	padding-top: $spacing--xl + 5rem !important;
}//end .module.first-module