---

layout: pages

---

{{> component-header button-vob=true}}

<div class="content">
	{{> component-page-title admission.page-title}}
	{{> component-duo admission.admission large-content="9" large-media="3" button-vob=true class="duo--contained"}}
	{{> component-spotlight admission.with-you}}
	{{> component-cta admission.footer-cta}}
	{{> component-footer}}

	{{! VOB REVEAL }}
	<div class="reveal vob" id="vob-form" data-reveal>
	  {{> vob-form vob.homepage}}
	        <button class="close-button" data-close aria-label="Close modal" type="button">
	          <span aria-hidden>&times;</span>
	        </button>{{!--/button--}}
	</div>{{!--/.reveal--}}
</div>