---

layout: pages

---

{{> component-header mobile-menu=true navigation=true}}

<div class="content">
	{{> component-duo main.main billboard=true branding=true class="duo--billboard branding"}}
	{{> component-image-grid main.treatment}}
	{{> component-duo main.insurance insurance=true class="duo--insurance" media-bottom="true" button-vob=true}}
	{{> component-map main.location}}
	{{> component-gallery main.gallery}}
	{{> component-accreditations}}
	{{!-- {{> component-staff main.staff}} --}}
	{{> component-duo main.success media-left=true}}
	{{> component-contact main.contact-cta}}
	{{> component-duo main.admissions video-modal=true class="duo--video"}}
	{{> component-duo main.life-challenge media-left=true}}
	{{> component-cta main.footer-cta}}
	{{> component-footer}}

	{{! VOB REVEAL }}
	<div class="reveal vob" id="vob-form" data-reveal>
	  {{> vob-form vob.homepage}}
	        <button class="close-button" data-close aria-label="Close modal" type="button">
	          <span aria-hidden>&times;</span>
	        </button>{{!--/button--}}
	</div>{{!--/.reveal--}}
</div>