---

layout: pages

---

{{> component-header button-vob=true}}

<div class="content">
	{{> component-page-title faq.page-title}}
	{{> component-duo faq.duo media-left=true button=true}}
	{{> component-faq faq.faqs}}
	{{> component-cta admission.footer-cta}}
	{{> component-footer}}

	{{! VOB REVEAL }}
	<div class="reveal vob" id="vob-form" data-reveal>
	  {{> vob-form vob.homepage}}
	        <button class="close-button" data-close aria-label="Close modal" type="button">
	          <span aria-hidden>&times;</span>
	        </button>{{!--/button--}}
	</div>{{!--/.reveal--}}
</div>