---

layout: pages

---

{{> component-header button-vob=true}}

<div class="content">
	{{> component-page-title insurance.page-title}}
	{{> component-duo insurance.insurance insurance=true class="duo--insurance" media-bottom="true" button-vob=true}}
	{{> component-spotlight insurance.questions}}
	{{> component-duo insurance.admissions video-modal=true class="duo--video"}}
	{{> component-cta admission.footer-cta}}
	{{> component-footer}}

	{{! VOB REVEAL }}
	<div class="reveal vob" id="vob-form" data-reveal>
	  {{> vob-form vob.homepage}}
	        <button class="close-button" data-close aria-label="Close modal" type="button">
	          <span aria-hidden>&times;</span>
	        </button>{{!--/button--}}
	</div>{{!--/.reveal--}}
</div>