---

layout: pages

---

{{> component-header button-vob=true}}

<div class="content">
	{{> component-page-title treatment.page-title}}
	{{> component-image-grid treatment.treatment}}
	{{> component-spotlight treatment.patient}}
	{{> component-contact treatment.contact}}
	{{> component-duo treatment.recovery media-left=true}}
	{{> component-duo treatment.advanced-treatment}}
	{{> component-cta admission.footer-cta}}
	{{> component-footer}}

	{{! VOB REVEAL }}
	<div class="reveal vob" id="vob-form" data-reveal>
	  {{> vob-form vob.homepage}}
	        <button class="close-button" data-close aria-label="Close modal" type="button">
	          <span aria-hidden>&times;</span>
	        </button>{{!--/button--}}
	</div>{{!--/.reveal--}}
</div>