---

layout: pages

---

{{> component-header carf-mobile=true}}

<div class="content">
{{> component-callout thank-you.main class="first-module with-bottom"}}
{{> component-cta}}
{{> component-footer}}

{{! VOB REVEAL }}
	<div class="reveal vob" id="vob-form" data-reveal>
	  {{> vob-form vob.homepage}}
	        <button class="close-button" data-close aria-label="Close modal" type="button">
	          <span aria-hidden>&times;</span>
	        </button>{{!--/button--}}
	</div>{{!--/.reveal--}}
</div>