---

layout: pages

---

{{> component-header button-vob=true}}

<div class="content">
	{{> component-page-title why-choose.page-title}}
	{{> component-duo why-choose.accredited media-left=true large-content="9" large-media="3" class="duo--inverse duo--contained"}}
	{{> component-accreditations}}
	{{> component-contact why-choose.contact-cta}}
	{{> component-duo why-choose.programs media-left=true}}
	{{> component-duo why-choose.healing}}
	{{> component-spotlight why-choose.staff background-image=true}}
	{{> component-spotlight why-choose.success}}
	{{> component-cta why-choose.footer-cta}}
	{{> component-footer}}

	{{! VOB REVEAL }}
	<div class="reveal vob" id="vob-form" data-reveal>
	  {{> vob-form vob.homepage}}
	        <button class="close-button" data-close aria-label="Close modal" type="button">
	          <span aria-hidden>&times;</span>
	        </button>{{!--/button--}}
	</div>{{!--/.reveal--}}
</div>