<div id="{{id}}" class="module staff">
	<div class="inner">
		<h2>{{heading}}</h2>

		{{#each members}}
			<div class="grid-x">
				<div class="staff--media cell large-3 medium-4 small-12">
					<div class="staff-photo" style="background-image: url({{img}})">
					</div>{{!--/.staff-photo--}}
				</div>{{!--/.staff--media--}}
				<div class="staff--content cell large-9 medium-8 small-12">
					<div class="staff-card">
						<h3>{{name}}</h3>
						<h4>{{position}}</h4>
						{{#markdown}}{{text}}{{/markdown}}
					</div>{{!--/.staff-card--}}
				</div>{{!--/.staff--content--}}
			</div>{{!--/.grid-x--}}
		{{/each}}
		</div>{{!--/.grid-x--}}

	</div>{{!--/.inner--}}
</div>{{!--/.module.staff--}}