<div id="{{id}}" class="module contact {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<div class="grid-x">
			<div class="cell large-6 medium-5">
				<div class="content-card">
					<h2>{{text}}</h2>
				</div>{{!--/.content-card--}}
			</div>{{!--/.cell--}}

			<div class="cell large-6 medium-7">
				<div class="button-card">
					{{> component-button phone=true}}
				    {{> component-button benefits-verification=true inverse=true}}
				</div>{{!--/.button-card--}}
			</div>{{!--/.cell--}}
		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.spotlight--}}