<div id="footer" class="footer">
	<div class="inner">
		<div class="grid-x accred-logos">
			<div class="cell medium-4">
				<img alt="Joint Commission" src="assets/img/accreditations/jointcommission.png" />
			</div>{{!--/.cell--}}
			<div class="cell medium-4">
				<img class="svg" alt="NAATP" src="assets/img/accreditations/naatp-stacked-white-full.svg" />
			</div>{{!--/.cell--}}
			<div class="cell medium-4">
				<script src="https://static.legitscript.com/seals/3417927.js"></script>
			</div>{{!--/.cell--}}
		</div>{{!--/.grid-x--}}
		<div class="privacy-policy">
	  			©2018 Foundations Recovery Network. All Rights Reserved. | <a href="https://skywoodrecovery.com/wp-content/plugins/frn_plugins/privacy-policy.pdf">Privacy Policy</a>
    	</div>{{!--/.privacy-policy--}}
	</div>{{!--/.inner--}}
</div>{{!--/.footer--}}