    
    <div id="nav">
        {{> component-notification}}            
        {{!Mobile-Phone}}
        <div id="mobilephone" class="grid-x show-for-small-only">
            <a class="cell small-6 mobilephone__chat" data-chat data-chat-offline-text="Email Us" data-chat-online-text="Live Chat" data-ga-event data-ga-category="Live Chat" data-ga-action="Chat Button" data-ga-label="Live Chat Mobile" onClick = "_ictt.push(['Live Chat']);">Live Chat</a>
            <a href="tel:{{#unlesspage 'v-ad'}}{{site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{site.phone-ad}}{{/ifpage}}" class="cell small-6 mobilephone__call {{#unlesspage 'v-ad'}} InfinityNumber {{/unlesspage}}" data-ict-discovery-number={{@root.site.phone}} data-ict-silent-replacements="false" data-ga-event data-ga-category="Phone Numbers" data-ga-action="Phone Clicks" data-ga-label="Phone Clicks Mobile">{{#unlesspage 'v-sms' 'v-ad' 'index-copy'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-sms'}}{{@root.site.phone-sms}}{{/ifpage}}{{#ifpage 'v-ad'}}{{@root.site.phone-ad}}{{/ifpage}}{{#ifpage 'index-copy'}}{{@root.site.phone2}}{{/ifpage}}</a>
        </div>{{!--/.mobile-bar--}}

        {{!Title-Bar}}
        <div class="title-bar show-for-small-only" data-responsive-toggle="{{site.content.header.mobile-menu-id}}" data-hide-for="medium">
            <a href="/lp/" class="title-bar-left">
                <img src="{{site.logo.img}}" class="site-logo" alt="{{text}}" />
            </a>{{!--/.title-bar-left--}}
            
            {{#if mobile-menu}}
            <div class="title-bar-right">
                <button type="button" id="hamburger-menu" class="hamburger nav-button hamburger--squeeze" data-toggle="{{site.content.header.mobile-menu-id}}" data-ga-event data-ga-category="Hambuger Menu" data-ga-action="Navigate" data-ga-label="open mobile menu">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                    <span class="hamburger-label">Menu</span>
                </button>
            </div>{{!--/.title-bar-right--}}
            {{/if}}
        </div>{{!--/.title-bar--}}

        {{!Mobile Menu}}
        <div id="{{site.content.header.mobile-menu-id}}" class="hide-for-medium">
            <ul class="main-menu" data-smooth-scroll>
                {{#each site.content.header.top-bar.right}}
                <li class="menu-text">
                    {{#if href}}
                        <a href="{{href}}" data-ga-event data-ga-category="Menu Item" data-ga-action="Navigate" data-ga-label="{{text}}">{{text}}</a>
                    {{else}}
                        {{text}}
                    {{/if}}
                </li>
                {{/each}}
            </ul>
        </div>{{!--/#mobile-menu--}}

        {{!Top-Bar}}
        <div class="top-bar show-for-medium" id="{{site.content.header.menu-id}}">
            <div class="inner">
                <div class="top-bar-left">
                    <a id="nav-logo" href="/lp/">
                        <img src="{{site.logo.img}}" class="site-logo" alt="{{site.logo.text}}" />
                    </a>
                </div>{{!--/.top-bar-left--}}
                 <div class="top-bar-right {{#unless navigation}}no-nav{{/unless}}">
                    {{#if navigation}}
                        <ul id="nav-items" class="dropdown menu" data-smooth-scroll>
                            {{#each site.content.header.top-bar.right}}
                                <li class="menu-text">
                                    {{#if href}}
                                        <a href="{{href}}" data-ga-event data-ga-category="Menu Item" data-ga-action="Navigate" data-ga-label="{{text}}">{{text}}</a>
                                    {{else}}
                                        {{text}}
                                    {{/if}}
                                </li>
                            {{/each}}
                        </ul>
                        {{/if}}
                        {{#if button-vob}}
                        {{> component-button benefits-verification=true inverse=true}}
                        {{/if}}
                        <a id="callinfo" class="{{#if button-vob}}button primary{{/if}} {{#unlesspage 'v-ad'}} InfinityNumber {{/unlesspage}}" href="tel:{{#unlesspage 'v-sms' 'v-ad'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-sms'}}{{@root.site.phone-sms}}{{/ifpage}}{{#ifpage 'v-ad'}}{{@root.site.phone-ad}}{{/ifpage}}"
                        onClick="fbq('track', 'Lead', {
                                    content_name: 'The Skywood PPC', 
                                    content_category: 'Landing Pages',
                                    content_type: 'Phone Clicks'
                                  });"
                         data-ict-discovery-number={{@root.site.phone}}
                         data-ict-silent-replacements="false" 
                         data-ga-event
                         data-ga-category="Phone Numbers"
                         data-ga-action="Phone Clicks"
                         data-ga-action="Phone Header"
                        >{{#unlesspage 'v-ad'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.phone-ad}}{{/ifpage}}</a>
                </div>{{!--/.top-bar-right--}}
        </div>{{!--/.inner--}}
        </div>{{!--/.top-bar--}}

    </div>{{!--/#nav--}}
