<div id="{{id}}" class="module spotlight {{#if class}}{{class}}{{/if}} {{#if background-image}}spotlight--background{{/if}}" {{#if background-image}}style="background-image: url({{img}})"{{/if}}>
	<div class="inner">
		<div class="spotlight--card">
			{{#if heading}}<h2>{{heading}}</h2>{{/if}}
			{{#markdown}}{{text}}{{/markdown}}
		</div>{{!--/.spotlight--card--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.spotlight--}}