<div id="{{id}}" class="module callout {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<div class="card-section">
			<h2>{{heading}}</h2>
			{{#if divider}}<div class="divider"></div>{{/if}}
			{{#markdown}}{{text}}{{/markdown}}
			{{#if buttons}}
			<div class="expanded button-group">
		        {{> component-button phone=true}}
		        {{> component-button chat=true red=true}}
		    </div>{{!--/.expanded.butotn-group--}}
		    {{/if}}
		</div>{{!--/.card-section--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module callout--}}