{{#if phone}}
<a href="tel:{{#unlesspage 'v-ad'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.phone-ad}}{{/ifpage}}"
   class="button primary phone {{#unlesspage 'v-ad'}} InfinityNumber {{/unlesspage}} {{#if class}} {{class}} {{/if}}"
   onClick="fbq('track', 'Lead', {
              content_name: 'The Skywood PPC', 
              content_category: 'Landing Pages',
              content_type: 'Phone Clicks'
            });"
   data-ict-discovery-number={{@root.site.phone}}
   data-ict-silent-replacements="false" 
   data-ga-event
   data-ga-category="Phone Numbers"
   data-ga-action="Phone Clicks"
   data-ga-label="{{#if ga-label}}{{ga-label}}{{else}}{{#unlesspage 'v-ad'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.phone-ad}}{{/ifpage}}{{/if}}">
   {{#unlesspage 'v-ad'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.phone-ad}}{{/ifpage}}
</a>
{{/if}}

{{#if chat}}
<a class="button primary chat {{#if class}}{{class}}{{/if}} {{#if inverse}}inverse{{/if}}"
  data-chat
  data-chat-online-text="Live Chat"
  data-chat-offline-text="Email Us"
  data-ga-event
  data-ga-category="Live Chat"
  data-ga-action="Chat Button"
  data-ga-label="{{#if ga-label}}{{ga-label}}{{else}}Live Chat{{/if}}"
  onclick="livechatClick(); _ictt.push(['Live Chat']);">
  Live Chat
</a>
{{/if}}

{{!-- {{#if benefits-verification}}
<a class="button primary vob trigger-vob-form-modal {{#if class}}{{class}}{{/if}} {{#if inverse}}inverse{{/if}}"
  data-ga-event
  data-ga-category="Verify of Benifits"
  data-ga-action="VOB Button"
  data-ga-label="Verify of Benifits"
  onclick="vobClick()">
  Verify Insurance
</a>
{{/if}} --}}