<div id="vob-callout" class="module vob {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<div class="grid-x vob-card">
			<div class="cell xlarge-9 large-8">
				<h2>Have questions? Need some guidance?</h2>
				<p>It is our mission to support you whether The Oaks at La Paloma is the right solution for you or not. Submit our confidential contact form if you'd like us to reach out to you for help.
			</div>{{!--/.cell--}}
			<div class="cell xlarge-3 large-4">
				<a class="button primary vob"
					data-reset-on-close="true"
					data-open="vob-form"
					data-ga-event
					data-ga-category="Verify of Benifits"
					data-ga-action="VOB Button"
					data-ga-label="Verify of Benifits">
					Request Help
				</a>

				{{! REVEAL }}
				<div class="reveal vob" id="vob-form" data-reveal>
					{{> vob-form vob.homepage}}
	          		<button class="close-button" data-close aria-label="Close modal" type="button">
	            		<span aria-hidden>&times;</span>
	          		</button>{{!--/button--}}
				</div>{{!--/.reveal--}}
			</div>{{!--/.cell--}}
		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.spotlight--}}