<div id="{{id}}" class="module faq {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		{{#each items}}
		<div class="faq-card">
			<h3>{{question}}</h3>
			{{#markdown}}{{answer}}{{/markdown}}
		</div>{{!--/.faq-card--}}
		{{/each}}
	</div>{{!--/.inner--}}
</div>{{!--/.module callout--}}