<div id="{{id}}" class="module duo {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		{{#if section-title}}<h1 class="section-title">{{section-title}}</h1>{{/if}}
		<div class="grid-x">
			<div class="cell content-cell{{#if xlarge-content}}xlarge-{{xlarge-content}}{{/if}} {{#if large-content}}large-{{large-content}}{{else}}large-6{{/if}} {{#if medium-content}}medium-{{medium-content}}{{else}}medium-6{{/if}} {{#if small-content}}small-{{small-content}}{{/if}} medium-order-{{#if media-left}}2{{else}}1{{/if}} small-order-{{#if media-bottom}}1{{else}}2{{/if}}">
				<div class="duo--card">

					{{! BILLBOARD}}
					{{#if billboard}}
					<div class="grid-x accred-logos">
						<div class="cell">
							<img alt="Joint Commission" src="assets/img/accreditations/jointcommission.png" />
						</div>{{!--/.cell--}}
						<div class="cell">
							<img class="svg" alt="NAATP" src="assets/img/accreditations/naatp-stacked-white.svg" />
						</div>{{!--/.cell--}}
						<div class="cell">
							<script src="https://static.legitscript.com/seals/3417927.js"></script>
						</div>{{!--/.cell--}}
					</div>{{!--/.grid-x--}}
					<h3>Augusta, MI</h3>

					{{#if branding}}
					<h1>Skywood Recovery</h1>
					<h2>Accredited Addiction Rehab Center</h2>
					<p>Our nationally recognized substance abuse and mental health programs use evidence-based methods that produce life-changing results.</p>
					{{else}}

					{{#if insurance-keywords}}
					<h1 class="insurance">Accredited Addiction Rehab Center Covered By {{> keywords}}</h1>
					<p>Our nationally recognized substance abuse and mental health programs use evidence-based methods that produce life-changing results.</p>
					{{else}}

					<h1>Accredited {{> keywords}}</h1>
					<p>Our nationally recognized substance abuse and mental health programs use evidence-based methods that produce life-changing results.</p>
					{{/if}}
					{{/if}}

					{{> component-button phone=true}}
					{{/if}}
					{{! END BILLBOARD}}

					{{#if heading}}
					<h2>{{heading}}</h2>
					{{/if}}
					{{#if sub-heading}}
					<h4>{{sub-heading}}</h4>
					{{/if}}
					{{#markdown}}{{text}}{{/markdown}}
					{{#if accreditations}}
					<div class="accreditations">
						{{#each accreditations}}
						<img alt="{{alt}}" src="{{logo}}" />
						{{/each}}
					</div> {{!--/.accreditations--}}
					{{/if}}
					{{#if buttons}}
					<div class="expanded button-group">
				        {{> component-button phone=true}}
				        {{> component-button chat=true}}
				    </div>{{!--/.expanded.butotn-group--}}
				    {{/if}}
				    {{#if button}}
				    	{{> component-button phone=true}}
				    {{/if}}

				    {{#if button-vob}}
				    	{{#if button-cta}}<h4>{{button-cta}}</h4>{{/if}}
				    	<div class="expanded button-group">
				    	{{> component-button phone=true}}
				    	{{> component-button benefits-verification=true}}
				    	 </div>{{!--/.expanded.button-group--}}
				    {{/if}}
				    
				</div>{{!--/.card--}}
			</div>{{!--/.cell--}}
			<div class="cell media-cell{{#if xlarge-media}}xlarge-{{xlarge-media}}{{/if}} {{#if large-media}}large-{{large-media}}{{else}}large-6{{/if}} {{#if medium-media}}medium-{{medium-media}}{{else}}medium-6{{/if}} {{#if small-media}}small-{{small-media}}{{/if}} medium-order-{{#if media-left}}1{{else}}2{{/if}} small-order-{{#if media-bottom}}2{{else}}1{{/if}}">
				<div class="duo--media {{#if logo}} overlay{{/if}}" style="background-image: url({{img}})">
					
					{{!LOGO}}
					{{#if logo}}
					<img class="logo" src="{{logo.img}}"  alt={{logo.alt}}>
					{{/if}}
					
					{{!VIDEO MODAL}}
					{{#if video-modal}}
					{{!BUTTON}}
					<a class="button" data-reset-on-close="true" data-ga-event data-ga-category="Video" data-ga-action="open modal" data-ga-label="{{heading}} Video" data-open="{{modal-id}}"></a>
					{{/if}}

					{{!INSURANCE}}
					{{#if insurance}}
					<div class="grid-x small-up-2 large-up-2">
					{{#each @root.insurance.logos}}
					<div class="cell">
						<img src="{{src}}" alt="{{alt}}" class="insurance-logos">
					</div>{{!--/.cell--}}
					{{/each}}
					</div>{{!--/.grid-x.small-up-1.medium-up-2--}}
					{{/if}}

					{{!GALLERY}}
					{{#if gallery}}
			         <div id="gallery-slider" class="gallery__slider">
		              {{#each gallery-images}}
		                <div class="gallery-image" style="background-image: url({{img}})"></div>
		                {{!-- <img src="{{img}}"/> --}}
		              {{/each}}          
			         </div>{{!--/.__slider--}}
			         {{/if}}
				</div>{{!--/.duo--media--}}
			</div>{{!--/.cell--}}
			
			{{#if video-modal}}
			{{!REVEAL}}
			<div class="reveal video" id="{{modal-id}}" data-reveal data-reset-on-close="true">
				<div class="widescreen flex-video">
					<iframe width="560" height="315" src="{{src}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>{{!--/widescreen.flex.video--}}
          		<button class="close-button" data-close aria-label="Close modal" type="button">
            		<span aria-hidden>&times;</span>
          		</button>{{!--/button--}}
			</div>{{!--/.reveal--}}
			{{/if}}

		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.duo--}}