<div id="contact" class="module duo--cta">
	<div class="inner">
		<h2>{{{text}}}</h2>
		<div class="expanded button-group">
	        {{> component-button phone=true}}
	        {{> component-button benefits-verification=true inverse=true}}
	    </div>{{!--/.expanded.button-group--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.duo--cta--}}